<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--permissions-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--application config-->
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseCRUDApplication"
        tools:targetApi="31">

        <!--activities-->
        <activity android:name=".activities.RegistrationActivity"/>
        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.PublicRecipesActivity"/>
        <activity android:name=".activities.EditRecipeActivity"/>
        <activity android:name=".activities.ViewRecipeActivity"/>
        <activity android:name=".activities.AddRecipeActivity"/>
        <activity android:name=".activities.EditAccountActivity"/>
        <activity android:name=".activities.RecipeSearchActivity"/>
        <activity android:name=".activities.MealPlanActivity"/>
        <activity android:name=".activities.ViewMealPlanActivity"/>
        <activity android:name=".activities.IngredientsScannerActivity"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>